* {
    margin : 0;
    padding : 0;
}
body {

    min-height : 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display : flex;
    justify-content: center;
    align-items : center;
    flex-direction: column;
    background-color : #e1f7f1;
}
.main-container {

    width : 100vw;
    height : 80vh;
    overflow : auto;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btn {
    padding : 0.6rem 0.7rem;
    background-color : greenyellow; 
    border : none;
    margin : 0.2rem;
    font-size : 1.2rem;
    box-shadow : 0rem 0.2rem 0.5rem rgba(0,0,0,0.8);
    transition : all 0.2s ease-in-out;
}
.btn:hover {
    background-color : red;
    transform : scale(1.2);
    color : grey;
}
.Box {
    margin : 0.5em;
    height : 20%;
    display : flex;
    align-items: center;
    justify-content: center;
    width : 25%;
    font-size : 1.2rem;
    border-radius: 0.6rem;
    text-align : center;
    text-shadow: 0.2rem 0.2rem 0.3rem rgba(0,0,0,0.5);
    border : solid black 0.1rem;
    box-shadow: 0rem 0rem 0.4rem rgba(0,0,0,0.5);
}